.loader {
  @apply w-12 h-12 relative mx-auto;
}

.loader::before {
  content: "";
  @apply w-12 h-1 bg-red-300/50 absolute rounded-full;
  top: 60px;
  left: 0;
  animation: shadow324 0.5s linear infinite;
}

.loader::after {
  content: "";
  @apply w-full h-full bg-red-500 absolute rounded-md;
  top: 0;
  left: 0;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {
  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}
